/.vscode
/Hola.ilk
/Hola.obj
/Hola.exe
/Hola.pdb
/vc140.pdb
TDMA/TDMA.exe
TDMA/TDMA.ilk
TDMA/TDMA.obj
TDMA/TDMA.pdb
TDMA/vc140.pdb
TDMA/Gauss_Seidel.exe
TDMA/Gauss_Seidel.obj
TDMA/Gauss_Seidel.ilk
TDMA/Gauss_Seidel.pdb

Gauss-Seidel/Gauss_Seidel.ilk
Gauss-Seidel/Gauss_Seidel.obj
Gauss-Seidel/Gauss_Seidel.pdb
Gauss-Seidel/vc140.pdb
TDMA/a.out
TDMA/TDMA
TDMA/Resultats.csv
*.exe
*.ilk
*.obj
*.pdb