/.vscode
/Hola.ilk
/Hola.obj
/Hola.exe
/Hola.pdb
/vc140.pdb
TDMA/TDMA.exe
TDMA/TDMA.ilk
TDMA/TDMA.obj
TDMA/TDMA.pdb
TDMA/vc140.pdb
TDMA/Gauss_Seidel.exe
TDMA/Gauss_Seidel.obj
TDMA/Gauss_Seidel.ilk
TDMA/Gauss_Seidel.pdb

Gauss-Seidel/Gauss_Seidel.ilk
Gauss-Seidel/Gauss_Seidel.obj
Gauss-Seidel/Gauss_Seidel.pdb
Gauss-Seidel/vc140.pdb
TDMA/a.out
TDMA/TDMA
TDMA/Resultats.csv
*.exe
*.ilk
*.obj
*.pdb
*.out
Tables_of_Thermal_Properties_of_Gases.pdf
Treball/Treball_Ferran_de_Miguel.zip
Treball/Treball_Ferran_de_Miguel/Combustio.cpp
Treball/Treball_Ferran_de_Miguel/Combustio.h
Treball/Treball_Ferran_de_Miguel/Propietats_termofisiques.cpp
Treball/Treball_Ferran_de_Miguel/Propietats_termofisiques.h
Treball/Treball_Ferran_de_Miguel/solvers.h
Treball/Treball_Ferran_de_Miguel/TDMA_solver.cpp
Treball/Treball_Ferran_de_Miguel/Treball_Gasos_Ferran_de_Miguel.pdf
Treball/Treball_Ferran_de_Miguel/Treball.cpp
